target/
!.mvn/wrapper/maven-wrapper.jar
node_modules/
built/
npm-debug.log
src/main/resources/static/precache-manifest.*
src/main/resources/static/sw.js

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/assets/built/

### MacOS file system ###
*.DS_Store
